.background{
    width: 100%;
    height: 100%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    position: fixed;
    object-fit: cover;
    padding: none;
    z-index: -1;
    background-color: #000;
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fade-in{
    animation: fadein 1s ease-in-out;
}
